html,
body {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  font-family: "Open Sans", Helvetica, Arial, serif;
  font-weight: 500;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-family: inherit; 
  text-decoration: none; 
}
h2{
    font-size: 20px;
}
p{
    color: #0447C3;
    line-height: 21px;
    font-size: 14px;
    font-weight: normal;
}

ul, ol {
    margin: 0;
    padding: 0; 
    list-style: none; 
  }
  
  li {
    margin: 0; 
    list-style: none;

  }

  header {
    background-color: #0447C3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.italic{
    font-style: italic;
}

.accent-text-color{
    color: #ffffff;
}

.container{
margin: 0 20px;
}

.main-logo{
    margin:  11px 144px 18px 144px;
}

.button-is-open{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}
.crop-container {
    width: 100%;
  max-width: 430px;
  height: auto;
  }

  
  .hero-style{
    margin-left: 23px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 400;
    color: #0447C3;
}
.lined-heading {
    position: relative; /* Для позиціонування псевдоелемента відносно заголовка */
    margin-left: 23px; 
    padding-left: 194px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;
    color: #0447C3;

  }
  
  .lined-heading::before {
    content: ""; /* Необхідно для відображення псевдоелемента */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Вирівнювання по вертикалі */
    width: 187px; /* Довжина лінії */
    height: 3px; /* Товщина лінії */
    background-color: #0447C3 /* Колір лінії */
  }



  .box-grey{
    padding: 23px;
    background-color: #ECECEC;
  }
  .box-white{
    padding-left: 23px;
  }
  .box-blue{
    background: #0447C3;
  }
  .box-green{
    background: #B3CE43;
  }
  

  .lined-style{
    position: relative;
  color: #0447C3; /* Колір тексту заголовка */
  font-size: 24px; /* Розмір шрифту */
  margin: 0;
  padding-left: 150px;
  text-transform: uppercase;
    font-weight: 500;
  }

  .lined-style::before{
    content: "";
  position: absolute;
  top: 50%; /* Вирівнюємо по вертикалі відносно тексту */
  left: 0;
  width: 139px; /* Довжина лінії */
  height: 3px; /* Товщина лінії */
  background-color: #0447C3; /* Колір лінії */
  transform: translateY(-50%);
  }